@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

body {
  font-family: 'Nunito';
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  padding: 1.5rem 1rem;
}

.parent {
  padding: 0;
}

.parent .child {
  list-style: none;
  padding: 0.2rem 0;
}